<style>
footer {
padding: 25px;
background-color: #e0e0e0;
text-align: center;
font-size: 0.9em;
}

footer a {
color: #273044;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}
</style>

    <footer>
        <p>&copy; 2025 ARF Veterinary Clinic<br>Email: <a
                href="mailto:rakel_arf5628@yahoo.com">rakel_arf5628@yahoo.com</a> | Phone: 09235600744 or 09235600744</p>
        <p>
            <a href="https://www.linkedin.com/in/kurt-adrian-luzoraga-b4a480299/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/kaLuzoraga"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.facebook.com/arf2006"><i class="fa-brands fa-facebook"></i></a>
        </p>
    </footer>