<style>
footer {
padding: 25px;
background-color: #e0e0e0;
text-align: center;
font-size: 0.9em;
}

footer a {
color: #273044;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}
</style>
    
    <footer>
        <p>&copy; 2025 Kurt Adrian Luzoraga<br>Email: <a
                href="mailto:kurtluzoraga24@gmail.com">kurtluzoraga24@gmail.com</a> | Phone: 09772384645</p>
        <p>
            <a href="https://www.linkedin.com/in/kurt-adrian-luzoraga-b4a480299/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/kaLuzoraga"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100014064978860"><i class="fa-brands fa-facebook"></i></a>
        </p>
    </footer>