<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - ARF Vet</title>
  <link rel="stylesheet" href="/css/login.css" />
  <script src="https://kit.fontawesome.com/f5623676d7.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="logo">
    <img src="/assets/Logo.jpg" alt="ARF Logo" />
  </div>

  <div class="form-wrapper">
    <h2>Login</h2>
    <form id="login-form" class="active">
      <input type="text" id="login-email" placeholder="Email" required />
      <input type="password" id="login-password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <div class="toggle-link">
      Don't have an account? <a href="/auth/registration">Sign up</a>
    </div>
    <p id="message"></p>
  </div>

    <!-- Footer Partial -->
    <%- include('../partials/footer') %>

  <script src="/auth/login.js"></script>
</body>
</html>